h1= title
form(method="POST", action="/vote")
    input(type='hidden',name='pollId',value=pollId)
    - each option in options
        !=partial(optionsRender, option)
    p
        div
            input(type='text',value='Your name',name='name')
    p
        input(type='submit',value='vote')